@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

.container{
    position: relative;
    width: 100%;
    height: 100vh;
}

.bg-slide,
.bg-slide .circle,
.bg-slide .circle img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg-slide .circle {
    pointer-events: none;
    user-select: none;
    overflow: hidden;
}

.bg-slide .circle.large
{
    clip-path: circle(50% at 50% 50%);

}

.bg-slide .circle img {
  object-fit: cover; 
  transform: rotate(0deg) scale(2); 
}