@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

header
{
    position: absolute;
    top: 20;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo
{
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 2px;

}

header ul

{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}
header ul li
{
    list-style: none;
    margin-left: 10px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #c8eeff;
    border-radius: 20px;
    transition: background .5s, color .5s;
}
header ul li a:hover,
header ul li a.active
{
    background: rgb(255, 255, 255);
    color:#79adb6  

}
header ul li a.active:hover {
    text-decoration: none;
    padding: 6px 15px;
    background: #79b6db;
    margin-top: 5px;
    border-radius: 20px;
}