@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#360d79,hsl(231, 100%, 78%));
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo
{
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 2px;

}

header ul

{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}
header ul li
{
    list-style: none;
    margin-left: 10px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #c8eeff;
    border-radius: 20px;
    transition: background .5s, color .5s;
}
header ul li a:hover,
header ul li a.active
{
    background: rgb(255, 255, 255);
    color:#220a48

}
header ul li a.active:hover {
    text-decoration: none;
    padding: 6px 15px;
    background: #79b6db;
    margin-top: 5px;
    border-radius: 20px;
}


section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522, transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

}
section img#moon
{
    mix-blend-mode: screen ;
    overflow-y: hidden;
}
section img#rock
{
    z-index: 10;
}

section img#rightc{
    position: none;
    z-index: 15;
    transform: translateX(150px);



}
section img#leftc {
    position: none;
    z-index: 16;
    transform: translateX(-250px);



}
#text
{
    position: absolute;
    right: -40px;
    color: #ffffff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    transform: translateY(100px);

}
#text2
{
    position: absolute;
    right: -35px;
    color: #ffffff;
    white-space: nowrap;
    font-size: 4vw;
    z-index: 8;
    transform: translateY(10px);
}
.sec
{
    position: relative;
    padding: 100px;
    background: #1c0522;
}
.sec h2
{
    color: #e2f7ff;
    font-size: 4vw;
    margin-bottom: 10px;  
}
.sec p
{
    font-size: 1em;
    color: #d8edff; 
}
